body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  padding: 20px;
  display: flex;
  background-color: #DF2E38;
  color: white;
}

section {
  margin: 40px 20px;
  display: flex;
  align-items: center;
  
}

hr {
  margin: 0 20px;
}

.navbar{
  margin: auto;
}

.placesImage {
  width: 15%;
  max-height: 25%;
  border-radius: 5px;
}

.mapsLink {
  font-size: 10px;
  color: gray;
  margin-left: 8px;
}

.details {
  max-height: 40%;
  padding: 15px;
}

.fromToDates {
  margin: 0;
}


.desc {
  font-size: 12px;
}

.placeAndgMaps {
  font-size: 12px;
}

.placeName {
  margin-top: 0;
}

.fa-location-dot {
  color: #DF2E38;
}

